nav{
    height: 4vh;
    background-color: blue;


}

.navbarright a{
    color: white;
    font-size: medium;
    font-weight: 700;
    padding-inline: 20px;
    float: right;
}
.navbarright a:hover{
    color: rgb(23, 22, 22);
}
