.hosprofileCard{
    width:500px;
    height: 400px;
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-family: 'Times New Roman';
 }
 .hosprofileCard ul li{
     margin-top: 30px;
     font-size: 20px;
     font-weight: 600;
     position: relative;
     
 }
 .hosprofileCard ul li span{
     position: absolute;
     left: 130px;
     font-weight: 500;
 }