.conprofileCard{
    width:500px;
    height: 400px;
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-family: 'Times New Roman';
 }
 .conprofileCard ul li{
     margin-top: 30px;
     font-size: 20px;
     font-weight: 600;
     position: relative;
     
 }
 .conprofileCard ul li span{
     position: absolute;
     left: 130px;
     font-weight: 500;
 }

 @media (max-width: 768px) {
    .conprofileCard {
      width: 500px;
      height: 400px;
      position: absolute;
      top: 15vh;
      left: 10vw;
      line-height: 7px;
      font-family: 'Times New Roman';
    }
  
    .conprofileCard ul li {
      font-size: 18px;
      margin-top: 20px;
      line-height: 20px;
    }
  
    
  }