body{
    background-color: lightblue;
}
.showappointment .showappointmentHeader{
    height: 75px;
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showappointment .showappointmentHeader h1{
    margin-left: 30px;
    color: white;
}
.showappointment .showappointmentHeader ul{
   
    list-style-type: none;
}
.showappointment .showappointmentHeader ul li .linker{
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}

.setdate button{
    margin-left: 5vh;
    color: wheat;
    border-radius: 15px;
}
.setdate{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 3vh;

}
.setdate input{
   width: 200px;
    border-radius: 10px;
    border: none;
    height: 35px;
}
.setdate .dltall button:hover{
    background-color: black;
    cursor: pointer;
}
.setdate .select button:hover{
    background-color: black;
    cursor: pointer;
}

.setdate button{
    background-color: blue;
    width: 200px;
}

.setdate h4{
    padding-right: 50px;
    position: relative;
    top: 10px;
    display: block;
}
@media (max-width: 968px){

    .shapp{
        position: absolute;
        top: 6vh;
        left: 0px;
    }
    .shapp select{
        padding-right: 10px;
    }

}

@media (max-width: 768px) {
    
  
    .showappointment .showappointmentHeader {
      height: 60px;
    }
    
  
    .showappointment .showappointmentHeader h1 {
      margin-left: 10px;
      font-size: 18px;
    }
  
    .showappointment .showappointmentHeader ul li .linker {
      font-size: 16px;
    }
    .setdate{
        padding-inline: 20px;
        justify-content: space-around;
    }
    .setdate button{
        margin-left: 2vh;
    }
    .setdate h4,h3{
        padding-right:20px ;
        position: relative;
        top: 0px;
    }
    .select{
        padding-right: 30px;

    }
  }

  @media (max-width:1050px){
    .setdate input {
        width: 150px;
    }

    .setdate h4 {
        padding-right: 20px;
    }
    .setdate button{
        background-color: blue;
        width: auto;
    }
}