body{
    background-color: lightblue;
}
.Cancel .CancelHeader{
    height: 75px;
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Cancel .CancelHeader h1{
    margin-left: 30px;
    color: white;
}
.Cancel .CancelHeader ul{
   
    list-style-type: none;
}
.Cancel .CancelHeader ul li .linker{
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
.deletebtn{
    width: 40px;
    height: 40px;
   
}
@media (max-width:767px){
    .deletebtn{
    width: 40px;
    height: 30px;
    padding: 10px;
    padding-right: 15px;

    }
}
@media (max-width: 768px) {
    .Cancel .CancelHeader {
        height: 60px;
    }
    
    .Cancel .CancelHeader h1 {
        margin-left: 20px;
        font-size: 18px;
    }
    
    .Cancel .CancelHeader ul li .linker {
        font-size: 16px;
    }
    
    .deletebtn {
        width: 30px;
        height: 30px;
    }
}