.registration{
    width: 50vw;
    height: 16vh;
    background-color: blue;
    align-items: center;
    margin-inline: 50vh;
    border-radius: 30px;
    justify-content: space-between;
    padding-top: 35px;
}
.registration button{
    align-items: center;
    margin-inline: 60px;
    text-align: center;
    width: 200px;
    font-size: 30px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(161, 121, 121);
}
