header{
    display: flex;
    /* background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .2) 30%); */
    justify-content: space-between;
    background-color:rgba(10, 8, 8,.75);
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul li{
    margin:20px;
}

header .logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
header .logo h1{
    margin-left: 30px;
}
*{
    box-sizing: border-box;
}
header .nav a{
    text-decoration: none;
    color: white;

}
header .logo a{
    background-color: black;
    color: white;
    padding-inline: 3px;
    font-style: italic;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    transition: 2s ease;
}
header .logo a:hover{
    color: red;
}