main{
    background: url('./doctor-appointment.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    
}
main .Registration{
    width: 50%;
}
.main{
    display: flex;
    justify-content: space-around;
    position: relative;
    top:40vh;

}
.main .a{
    background-color: rgb(94, 12, 12);
    padding:10px 20px;
    border-radius: 15px;
    color: white;
    position:relative;
    top: 15px;
    text-decoration: none;

}
.main .reg-info a,h2,p{
    margin: 20px;
}
.main .Registration{
    position: relative;
    top:60px;
    background-color: rgba(10, 8, 8,.45);
    border-radius: 25px;
    padding: 20px;
    height: 200px;

    color: white;
}
    

.main .loginForm{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(10, 8, 8,.45) ;
}
.main .loginForm caption{
    font-size: 22px;
    font-weight: 500;
    color: white;
    
}
.loginForm .input-group{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.loginForm .input-group label{
    color: rgb(165,165,165);
    font-size: 14px;
    position: absolute;
    top: 5px;
    padding-left: 5px;
    transition: 0.5s ease-in-out;
   

}
.loginForm .input-group input{
    border: none;
    padding: 7px;
    outline: none;
    border-bottom: 1px solid #c9c98a;
}

.loginForm .input-group input:focus ~label,
.loginForm .input-group input:valid ~label{
    color: red;
    top: -23px;
    font-size: 16px;
    color:white;
    padding-left: 0;
    

}
.loginForm .input-group input:focus ,
.loginForm .input-group input:valid {
    border-color: blue;

}


.loginForm .submit-btn input{
    background-color: aqua;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;

}
.loginForm .submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm .submit-btn input:hover{
    box-shadow: 0px 3px 6px silver;
    background-color: rgb(99, 99, 139);
}