
.containerSlot{
    
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 70%;
    align-items: center;
}

.wrapper{

    height: 60vh;
    width: 60vw;
    display: grid;
    grid-gap: 50px;
    grid-template-columns:2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 'slotA slotB slotC slotD'
                         'slotE slotF slotG slotH';
    
}
.slot{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 50px;
}

.slotA{
    grid-area: slotA;
}
.slotB{
    grid-area: slotB;
}
.slotC{
    grid-area: slotC;
}
.slotD{
    grid-area: slotD;
}
.slotE{
    grid-area: slotE;
}
.slotF{
    grid-area: slotF;
}
.slotG{
    grid-area: slotG;
}
.slotH{
    grid-area: slotH;
}
body{
    background-color: lightblue;
}
.sloter{
    position: absolute;
    width: 100%;
}
.sloter .slotHeader{
    
    height: 75px;
    
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sloter .slotHeader h1{
    margin-left: 30px;
    color: white;
}
.sloter .slotHeader ul{
   
    list-style-type: none;
}
.sloter .slotHeader ul li .linker{
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
