
.containerSlot{
    
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.slot{
    border-radius: 20px;
    display: flex;
    width: 200px;
    height: 50px;
    margin: 20px;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 10px;
}
.wrapper{
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    padding-top: 10vh;
}

body{
    background-color: lightblue;
}

.sloter .slotHeader{
    
    height: 75px;
    
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sloter .slotHeader h1{
    margin-left: 30px;
    color: white;
}
.sloter .slotHeader ul{
   
    list-style-type: none;
}
.sloter .slotHeader ul li .linker{
    text-decoration: none;
    padding-right: 40px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}

.formcontainer{
    height: 80vh;
    display: flex;
    justify-content: center;
    width: 50vw;
    font-size: 17px;
}

.formcontainer .formapp{
    margin: 30px;
    position: relative;
   

}
.formapp button{
    background-color: rgb(122, 82, 94);
    width: 130px;
}
.formcontainer .formapp input{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 130px;
    top: 2px;
    font-size: 17px;
    font-weight: 560;
    color: blue;
}
.formcontainer .formapp label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.formcontainer form{
    border: 2px solid black;
    position: relative;
    top: 20vh;
    width: 30vw;
    padding-left: 30px;
    border-radius: 10px;
    
}

.wrapper .choosetime{
    margin: 20px;
    background-color: blueviolet;
    margin-left: 50px;
    color: wheat;
}