
.takeappointment .header{
    height: 75px;
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.takeappointment .header h1{
    margin-left: 30px;
    color: white;
}

.selectsection{
    position: relative;
    top:10vh;
    left:20vw;
}
.selectsection label{
    font-size: 20px;
    position: relative;
    top: 7px;
    left: -120px;

}
.selectsection select{
    /* position: absolute;
    left:150px; */
    background-color: transparent;
    height: 20px;
    border-radius: 5px;
    height: 30px;
    margin:5px;
    width: 265px;
    color: black;
    border: 1px solid black;
}
.selectsection input{
    background-color: transparent;
    height: 20px;
    border-radius: 5px;
    height: 30px;
    margin:5px;
    width: 265px;
    border: 1px solid black;
    position: absolute;
    left:120px;
}

.selectsection{
   height: 200px;
   width: 600px;
}

.selectsection .apointmentform{
    
    height:100px ;
   /* background-color: red; */
   display: flex;
   /* justify-content: space-around; */
}
.apointmentform .appointmentcheck .appobtn{
    background-color: rgb(109, 88, 88);
    color: wheat;
    width: 80px;
    position: relative;
    top: 5px;
    height: 30px;
    margin-left: 280px;
}
.apointmentform .appointmentcheck .appobtn:hover{
    background-color: black;
    color: white;
}
.appointmentform1{
    display: none;

}
.selectsection label{
    position: relative;
    
    right: 0px;
}
.selectsection .hos{
   padding:40px;

}

.selectsection select{
    position: absolute;
    left: 120px;
}
.selectsection .hos .subbtn{
    background-color: rgb(109, 88, 88);
    width: 60px;
    color: wheat;
    cursor: pointer;
}
.selectsection .hos .subbtn:hover{
    background-color: black;
}
.background{
    background-color: lightblue;
    height: 100vh;
}

.takeappointment .header ul{
   
    list-style-type: none;
}
.takeappointment .header ul li .linker{
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
.selectsection .form1,.form2,.form3{
    display: none;
}
.selectsection .Government{
    display: block;
}
.selectsection .Private{
    display: block;
}
.selectsection .Private1{
    display: block;
}