.profileCard{
   width:500px;
   height: 400px;
   position: absolute;
   top: 15vh;
   left: 10vw;
   font-family: 'Times New Roman';
}
.profileCard ul li{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    
}
.profileCard ul li span{
    position: absolute;
    left: 130px;
    font-weight: 500;
}

/* @media (max-width: 768px) {
    .profileCard {
      width: 90%;
      height: auto;
      position: static;
      top: auto;
      left: auto;
      margin: 20px;
    }
  
    .profileCard ul li {
      margin-top: 15px;
      font-size: 16px;
    }
  
    .profileCard ul li span {
      left: auto;
      margin-left: 10px;
    }
  } */




  @media (max-width:767px){
    .profileCard {
      width: 500px;
      height: 400px;
      position: absolute;
      top: 10vh;
      left: 10vw;
      line-height: 7px;
      font-family: 'Times New Roman';
    }

  }