.profileCard{
   width:500px;
   height: 400px;
   position: absolute;
   top: 15vh;
   left: 10vw;
   font-family: 'Times New Roman';
}
.profileCard ul li{
  position: relative;
  top: 5vh;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    
}
.profileCard ul li span{
    position: absolute;
    left: 130px;
    font-weight: 500;
}






  @media (max-width:767px){
    .profileCard {
      width: 350px;
      height: 400px;
      position: absolute;
      top: 20vh;
      left: 10vw;
      line-height: 7px;
      font-family: 'Times New Roman';
      
    }
    .profileCard ul li{
      font-size: 12px;
      margin-top: 20px;
      line-height: 20px;
    }
    

  }