 ul.about{
    padding: 5vh;
    line-height: 34px;

}

.owner{
    position: absolute;
    bottom: -20vh;
    margin-left: 20vw;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About{
position: relative;
top: 10vh;   

}
marquee{
    color: red;
    font-size: 20px;
    margin-left: 50px;
    
}

@media screen and (max-width: 768px) {
    ul.about {
      padding: 2vh;
      line-height: 24px;
    }
  
    .owner {
      bottom: 0vh;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  
    .About {
      top: 5vh;
    }
  }
  