body{
    background-color: lightblue;
}
.Reschedule .RescheduleHeader{
    height: 75px;
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Reschedule .RescheduleHeader h1{
    margin-left: 30px;
    color: white;
}
.Reschedule .RescheduleHeader ul{
   
    list-style-type: none;
}
.Reschedule .RescheduleHeader ul li .linker{
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
button.reschedulebtn{
    width: 100px;
    margin-inline: 20px;
    background-color: rgb(62, 61, 61);
    color: wheat;
}
button.reschedulebtn:hover{
    background-color: black;
    color: white;
}
@media (max-width: 600px) {

    .Reschedule .RescheduleHeader h1 {
        margin-left: 20px;
        font-size: 18px;
    }
    .Reschedule .RescheduleHeader ul li {

       font-size: 16px;
    }
    
    button.reschedulebtn {
        font-size: 10px;
        display: block;
    }
}
