body{
    background-color: lightblue;
}
.setappointment .setappointmentHeader{
    height: 75px;
    background-color: rgb(103, 66, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.setappointment .setappointmentHeader h1{
    margin-left: 30px;
    color: white;
}
.setappointment .setappointmentHeader ul{
   
    list-style-type: none;
}
.setappointment .setappointmentHeader ul li .linker{
    text-decoration: none;
    position: relative;
    right: 30px;
    color: white;
    font-weight: 500;
    font-size: 20px;

}

.settime{
    position: relative;
    top: 15vh;
    left:10vw;
    color: black;
    
}
.settime form{
    display: flex;
}

.settime select{
    color: black;
    width: 50px;
}
.settime label{
    font-size: 20px;

  
}

.settime .timer input{
    background-color: transparent;
    width: 200px;
    margin-left: 20px;

}
.settime {
    width: 60vw;
    height: 20vh;
    border: 2px solid black;
    
}

.settime form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}
.settime form .subtn input{
   margin-left: 20px;
    width: 50px;
    height: 25px;
    background-color: rgb(142, 134, 123);
}

@media(max-width:900px){
    .settime form{
        display: inline;
    }
    .settime{
        height: 300px;
    }
    .settime form .subtn input{
        margin: 30px;
    }
    .settime .timer{
        padding: 10px;
    }
    .settime label{
        margin:20px ;
    }

}