.reg header{
    display: flex;
    /* background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .2) 30%); */
    justify-content: space-between;
    background-color:rgba(10, 8, 8,.75);
}
.reg header ul{
    display: flex;
    list-style-type: none;
}
.reg header ul li{
    margin:20px;
}

.reg header .logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.reg header .logo h1{
    margin-left: 30px;
}
*{
    box-sizing: border-box;
}
.reg header .nav a{
    
    text-decoration: none;
    color:black;
    margin-right: 20px;

}
.rega{
    background-color: rgb(212, 212, 233);
    padding: 5px;
    border-radius: 10px;
    padding-left: 9px;
    position: relative;
    
    
}
.rega a{
    color: black;
}
.rega:hover{
    background-color: darkblue;
    color: wheat;
}
.reg header .logo a:hover{
    color: red;
}
.reg header li .a:hover{
    color:rgb(252, 98, 98);
}
