main.main1{
    position: absolute;
    background: url('./hoslo1.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
main.main1 .reg-button{
    position: relative;
    top:10vh;
}
main.main1 .reg-button button{
    color: black;
    margin: 30px;
    border-radius: 5px;
    width: 150px;
    height: 27px;
    font-weight: 600;
    padding-bottom: 25px;

}
main.main1 .reg-button button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    outline: 1px solid white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}
main.main1 form{
    position: relative;
    top:10vh;
    border: 2px solid white;
    width: 470px;
    margin-left: 60px;
    border-radius:20px;
    padding:10px 0;
    padding-bottom: 30px;
}
main.main1 form caption{
    color: white;
    width: 500px;
    font-size: 20px;
    text-decoration: underline;

}
main.main1 .form1 .formReg{
    display: flex;
    margin: 15px;
    position: relative;
    margin-left: 10vh;
    color:white;
}

main.main1 .form1 .formReg input,select{
    position: absolute;
    left: 120px;
    border-radius: 5px;
    height: 30px;
    margin:5px;
    width: 165px;
    background-color: transparent;
    color: white;

}
main.main1 .form1 .formReg select option{
    color: black;

}

main.main1 .form1 .formReg label{
    position: relative;
    font-size: 20px;
    top: 8px;
    left: -10px;
    
}
main.main1 .form1 .formReg .sub1{
    
    background-color: rgb(170, 107, 229);
    width: 60px;
    position: relative;
    margin-top: 25px;
    
}
main.main1 .form1 .formReg .sub1:hover{
    background-color: rgb(26, 14, 14);
    color: white;
    cursor: pointer;
}

main.main1 .form1 .formReg .sub1.clear{
   margin-right: 42px;

}
marquee{
    position: relative;
    top: 10vh;
    color: white;
    width: 500px;
    font-size: 20px;
    margin-left: 50px;
}

.displayForm1,.displayForm2,.displayForm3{
    display: none;
}
.displayForm11{
    display: block;
}
.displayForm22{
    display: block;
}
.displayForm33{
    display: block;
}
main.main1 .reg-button button.active{
    background-color: rgb(141, 80, 80);
    
}